@import "../global/variables.scss";

* {
	outline:none !important;
	-moz-outline: none !important;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body, html {
	font-family: $font-family-base, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: $body-color;
	letter-spacing: 0;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	background-color: $light;

	*{
		font-family: $font-family-base, sans-serif;
	}
}

#app .scrollbar-track {
  background-color: transparent;
  z-index: 11;
}

#app .scrollbar-track.scrollbar-track-x {
  display: none !important;
}

#app .scrollbar-thumb {
  width: 3px;
  left: 2px;
  background-color: $primary;
}

.w-100 {width: 100%;}