$primary:                   #4287f5;
$light:                     #ffffff;

$body-color:                #3e3e3e;
$body-bg:                   #ea8868;

$transition:                  300ms;

$font-family-base:            'Montserrat', verdana;